{% extends 'base.html' %}
      
{% block content %}  
    {% for c in comment %}
    <div class="row d-flex justify-content-center">
        <div class="col-sm-10">
        <div class="card text-white bg-dark mb-3">
        <div class="card-header">{{ c.commentor }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ c.comment_description }}</h5>
            <a href="editcomment/{{ c.id }}" class="btn btn-primary">Edit Comment</a>
            <a href="deletecomment/{{ c.id }}" class="btn btn-danger">Delete Comment</a>
          </div>
        </div>
        </div>
  </div><br><br>
    {% endfor %}
{% endblock %}